@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

.bg-img-featured-movie {
    background-image: url(/img/featured-movie.jpg);
    min-height: 768px;
}

.featured-movie-title {
    font-family: 'Anton', sans-serif;
    letter-spacing: 1.5rem;
    position: relative;
    top: 40%;
    text-transform: uppercase;
}

.featured-movie-synopsis {
    letter-spacing: 0.1rem;
    position: relative;
    top: 40%;
}

.featured-movie-maturity-rating {
    background-color: rgba(51, 51, 51, 0.6);
    border: solid 3px #dcdcdc;
    border-style: none none none solid;
    height: 2.4vw;
    position: relative;
    padding: .5vw 6.5vw .5vw .8vw;
    top: 50%;
    width: 2.4vw;
}