.cont-footer {
    background: #717171;
    padding: 10px;
}

.info-column {
    display: flex;
    justify-content: space-around;
}

.cont-img {
    width: 36px;
    height: 36px;
    float: none;
}

.social-media {
    margin-bottom: 20px;
}

.decoration {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.footer-button {
    border: 1px solid black;
    padding: 5px;
    margin: 0px;
    background-color: inherit;
}

.p-button {
    margin: 0px;
}

@media (max-width: 576px) {
    .info-column {
        flex-direction: column;
    }
}