.logo-header h1 {
  font-family: "Pacifico", cursive;
  color: rgba(221, 218, 18, 0.87);
}
header {
  background-color: rgba(0, 0, 0, 0.444);
}
.netlify-header a {
  text-decoration: none;
  color: white;
}
#menuh {
  display: none;
}
#lupa {
  display: none;
}
@media (max-width: 992px) {
  #form {
    display: none;
  }
  #lupa {
    display: flex;
  }
}
@media (max-width: 768px) {
  #menua {
    display: none;
  }
  #menuh {
    display: flex;
  }
}