.fondo {
    justify-content: center;
    background: linear-gradient(rgba(255, 255, 255, .4), rgba(255, 255, 255, .4)), url(../imagenes/portada.jpg);
    background-size: cover;
}

.contenedor {
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
}

.video {
    flex: 66.66%;
    padding-right: 30px;
}

.descripcion {
    flex: 33.33%;
    margin: auto;
}

@media(max-width: 575px) {
    .contenedor {
        flex-direction: column;
    }
    .video {
        flex: 100%;
        padding-right: 0;
    }
    .descripcion {
        flex: 100%;
    }
}

@media(min-width: 576px) and (max-width: 767px) {
    .video {
        padding-right: 10px;
    }
}

@media(min-width: 768px) and (max-width: 991px) {
    .video {
        padding-right: 20px;
    }
}