.seccionDestacada--fondo {
    justify-content: center;
    background: linear-gradient(rgba(255, 255, 255, .4), rgba(255, 255, 255, .4)), url(../imagenes/portada.jpg);
    background-size: cover;
}

.seccionDestacada--contenedor {
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
}

.seccionDestacada--video {
    flex: 66.66%;
    padding-right: 30px;
}

.seccionDestacada--descripcion {
    flex: 33.33%;
    margin: auto;
}

@media(max-width: 575px) {
    .seccionDestacada--contenedor {
        flex-direction: column;
    }
    .seccionDestacada--video {
        flex: 100%;
        padding-right: 0;
    }
    .seccionDestacada--descripcion {
        flex: 100%;
    }
}

@media(min-width: 576px) and (max-width: 767px) {
    .seccionDestacada--video {
        padding-right: 10px;
    }
}

@media(min-width: 768px) and (max-width: 991px) {
    .seccionDestacada--video {
        padding-right: 20px;
    }
}