body{
    background: rgb(46, 46, 46);
}
.contenedor-hover{
    position: relative;
    height: 150px;
    padding: 0;   
}
img{
    width: 100%;
    height:100%
}
.content-text{
    color: white; 
    display: none;
    position: absolute;
    bottom: 0;
    font-family: 'Nunito', sans-serif;
}
.title-img-movie{
    margin-top:50px;
    font-weight: bold;    
}
.paragraph-img-movie{
    margin-top: -10px;
    font-weight: lighter;
}
.contenedor-hover:hover .content-text{
    display: block;
    transition:all .6s ease; 
}
.contenedor-hover:hover img {
    transform:scale(1.1);   
    transition:all .8s ease;
    opacity: 10%;
}
.limit-age{
    font-family: 'Nunito', sans-serif;
    background: rgba(0, 0, 0, 0.623);
    width: 35px;
    text-align: center;
    margin-top: -5px;
}